.eunit
deps
priv
*.o
*.beam
*.plt
*.metadata
erlide.*
*.project
*.settings
*.dump
*~

Paxy/a
Paxy/b
Paxy/c
Paxy/d
Paxy/e
Paxy/f
Paxy/g
Paxy/h
Paxy/i
Paxy/j
Paxy/k
Paxy/l
Paxy/m
Paxy/n
Paxy/o
Paxy/p
Paxy/q
